<%= form_for [:admin, route], html: { style: "display: #{hidden ? 'none' : 'block'}"} do |form| %>
  <%= render 'common/errors', resource: route %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :route_title %>
  </p>

  <div class="field">
    <%= form.label :railway_station_ids, 'Текущая станция' %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true}  %>
  </div>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%#= form.submit %>
    <%#= form.submit t('.submit', action: route.new_record? ? 'Создать' : 'Изменить') %>
    <%= form.submit "#{ route.new_record? ? 'Создать' : 'Изменить' }" %>
  </p>

<% end %>