<h1>Маршруты</h1>
<%= link_to 'На главную', root_path %>

<table class="table table-striped">
  <tr>
    <th>Наименование</th>
    <th>Дополнительные сведения</th>
    <th colspan="3"></th>
  </tr>

  <% @routes.each do |route| %>
    <tr>
      <td>
        <div id="route_title_<%= route.id %>">
          <%= link_to route_full_name(route), [:admin, route] %>
        </div>
        <%= render 'form', route: route, hidden: true %>
      </td>
      <td><%= route.text %></td>
      <td><%= link_to 'Изменить', '', class: 'edit_route', data: { route_id: route.id } %></td>
      <td><%= link_to 'Удалить', [:admin, route],
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Новый маршрут', new_admin_route_path %>
