<h1>Поиск билета</h1>

<div class="row">
  <%= form_tag '/search', remote: true do %>
    <div class="col-md-4">
      <%= select_tag :first_station_id, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= select_tag :last_station_id, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= submit_tag 'Найти', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div id="search"></div>
<%= link_to 'На главную', root_path %>
<%= link_to 'Купленные билеты', tickets_path %>
