<h1>Поиск билета</h1>
<%= form_tag '/search', remote: true do %>
  <%= label_tag :current_station, '1 станция' %>
  <%= select_tag :first_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title) %>
  <%= label_tag :current_station, '2 станция' %>
  <%= select_tag :last_station_id, options_from_collection_for_select(RailwayStation.all, :id, :title) %>
  <div><%= submit_tag 'Искать!' %></div>
<% end %>
<div id="search"></div>
<%= link_to 'На главную', root_path %>
<%= link_to 'Купленные билеты', tickets_path %>

<h1>Поиск билета</h1>

<div class="row">
  <%= form_tag search_path do%>
    <div class="col-md-4">
      <%#= select_tag :start_station, options_from_collection_for_select(RailwayStations.all, :id, :title) %>
      <%= select_tag :first_station_id, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%#= select_tag :end_station, options_from_collection_for_select(RailwayStations.all, :id, :title) %>
      <%= select_tag :last_station_id, options_from_collection_for_select(@stations, :id, :title), class: 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= submit_tag 'Найти', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>