<%= form_with model: @user, local: true do |form| %>
  <%= render 'common/errors', resource: @user %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :user_title %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>