<p>
  <strong>Имя:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Билеты:</strong>
<ul>
  <% @user.tickets.each do |ticket| %>
    <li><b>№<%= ticket.number %></b></li>
    <li>Пользователь: <%= ticket.user.full_name %></li>
    <li> Вагон: <%= ticket.wagon.number %></li>
    <li>Станция отправления: <%= RailwayStation.find(ticket.start_station_id).title %></li>
    <li>Станция прибытия: <%= RailwayStation.find(ticket.end_station_id).title %></li>
  <% end %>
</ul>
</p>

<%= link_to 'Изменить', edit_user_path(@user) %>
<%= link_to 'Назад', users_path %>