<%= form_with model: @ticket, local: true do |form| %>
  <%= form.hidden_field :train_id, value: @train.id %>

  <%= render 'common/errors', resource: @ticket %>

  <p>
    <%= form.label :number, "Номер билета" %><br>
    <%= form.number_field :number, id: :ticket_number %>
  </p>
  <p>
    <%= form.label :user_id, "Пользователь" %><br>
    <%= form.select :user_id, User.all.map { |user| [user.title, user.id] } %>
  </p>
 <p>
    <%= form.label :user_surname, "Фамилия отправляющегося" %><br>
    <%= form.text_field :user_surname %>
  </p>
  <p>
    <%= form.label :user_name, "Имя отправляющегося" %><br>
    <%= form.text_field :user_name%>
  </p>
  <p>
    <%= form.label :user_patronymic, "Отчество отправляющегося" %><br>
    <%= form.text_field :user_patronymic %>
  </p>
  <p>
    <%= form.label :wagon_id, "Вагон" %><br>
    <%= form.select :wagon_id, @train.wagons.all.map { |wagon| [wagon.number, wagon.id] } %>
  </p>
  <p>
    <%= form.label :start_station_id, "Станция отправления" %>
    <%= form.collection_select :start_station_id, @train.route.railway_stations, :id, :title, {selected: @ticket.start_station_id} %>
  </p>
  <p>
    <%= form.label :end_station_id, "Станция прибытия" %>
    <%= form.collection_select :end_station_id, @train.route.railway_stations, :id, :title, {selected: @ticket.end_station_id} %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>