<h1>Билеты</h1>
<%#= current_user.admin? ? link_to 'На главную', root_path : link_to 'Мой профиль', current_user_path %>

<%= link_to 'На главную', root_path %>

<table class="table table-striped">
  <tr>
    <th>Номер</th>
    <th>Поезд</th>
    <th>Станция продажи</th>
    <th>Пользователь</th>
    <th>Вагон</th>
    <th colspan="3"></th>
  </tr>

  <% @tickets.each do |ticket| %>

    <tr>
      <td><%= link_to ticket.number, ticket_path(ticket) %></td>
      <td><%= ticket.train.number if ticket.train %></td>
      <td><%= ticket.user&.full_name %></td>
      <td><%= ticket.wagon&.number %></td>
      <td><%= link_to 'Изменить', edit_ticket_path(ticket) %></td>
      <td><%= link_to 'Удалить', ticket_path(ticket),
                      method: :delete,
                      data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<%#= link_to 'Новый билет', new_ticket_path %>
<%= link_to 'Новый билет', search_index_path %>
