<p>
  <strong>Номер:</strong>
  <%= @ticket.number %>
</p>
<p>
  <strong>Пользователь:</strong>
  <%= @ticket.user.title %>
</p>
<p>Билет купил:<%= @ticket.user.email %></p>
<p>
  <strong>Фамилия отправляющегося:</strong>
  <%= @ticket.user_surname %>
</p>
<p>
  <strong>Имя отправляющегося:</strong>
  <%= @ticket.user_name %>
</p>
<p>
  <strong>Отчество отправляющегося:</strong>
  <%= @ticket.user_patronymic %>
</p>
<p>
  <strong>Станция отправления:</strong>
  <%= RailwayStation.find(@ticket.start_station_id).title %>
</p>
<p>
  <strong>Станция прибытия:</strong>
  <%= RailwayStation.find(@ticket.end_station_id).title %>
</p>
<p>
  <strong>Поезд:</strong>
  <%= full_name(@ticket.train) %>
</p>
<p>
  <strong>Вагон:</strong>
  <%= @ticket.wagon.number %>
</p>


<%= link_to 'Изменить', edit_ticket_path(@ticket) %>
<%= link_to 'Назад', tickets_path %>