<p>
  <strong>Номер:</strong>
  <%= @ticket.number %>
</p>
<p>
  <strong>Пользователь:</strong>
  <%= @ticket.user.title %>
</p>
<p>
  <strong>Вагон:</strong>
  <%= @ticket.wagon.number %>
</p>
<p>
  <strong>Поезд:</strong>
  <%= @ticket.train.number %>
</p>
<p>
  <strong>Железнодорожная станция:</strong>
  <%= @ticket.railway_station.title %>
</p>

<%= link_to 'Изменить', edit_ticket_path(@ticket) %>
<%= link_to 'Назад', tickets_path %>