<%= form_with(url: wagons_path(train_id: @train.id, type: @wagon.class)) do |f| %>
  <%= render 'common/errors', resource: @wagon %>

  <p>Добавление <%= @wagon.type_name %> вагона к поезду №<%= @train.number %></p>

  <% @wagon.seat_types.each do |seat| %>
    <div class="field">
      <%= f.label seat, Wagon.seats_type(seat) %>
      <%= f.number_field seat %>
    </div>
  <% end %>

  <% f.hidden_field :train_id, value: @train.id %>

  <div class="actions">
    <%= f.submit "#{ @wagon.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>
