<tr>
  <td><%= link_to wagon.number, wagon_path(wagon) %></td>
  <td><%= wagon.train.number if wagon.train %></td>
  <td><%= wagon.type %></td>
  <td><ul>
    <%= wagon.seat_types.each do |type| %>
    <li>
      <%= type.to_s + ': ' + wagon.send(type).to_s %>
    </li>
    <% end %>
  </ul></td>
  <td><%= link_to 'Изменить', edit_wagon_path(wagon) %></td>
  <td><%= link_to 'Удалить', wagon_path(wagon), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
