<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @wagon.number %>
</p>
<p>
  <strong>Поезд:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong>Тип:</strong>
  <% if @wagon.wagon_type.present? %>
    <%= @wagon.wagon_type %>
  <% else %>
    Тип не назначен
  <% end %>
<p>
  <strong>Количество верхних мест:</strong>
  <%= @wagon.seats_up %>
</p>
<p>
  <strong>Количество нижних мест:</strong>
  <%= @wagon.seats_down %>
</p>

<p>
  <strong>Вагон <%= @wagon.number %></strong>

<ul>
      <li><%= @wagon.id.to_s %></li>
      <li><%= @wagon.wagon_type %></li>
          Боковых верхних: <%= @wagon.side_top_seats %>
          Нижних:   <%= @wagon.bottom_seats %>
          Боковых нижних:   <%= @wagon.side_top_seats %>
          Сидячих:  <%= @wagon.sedentary_seats %>
      </li>
</ul>

<%= link_to 'Изменить', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>
