<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @wagon.number %>
</p>
<p>
  <strong>Поезд:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong>Тип:</strong>
  <% if @wagon.type.present? %>
    <%= @wagon.type %>
  <% else %>
    Тип не назначен
  <% end %>
</p>
<p>
  <strong>Всего мест <%= @wagon.type_name %> в поезде <%= @wagon.train.number %>:</strong>
  <%= @wagon.seats_count_for_wagon_type %>
</p>
<p>
  <strong>Вагон <%= @wagon.number %></strong>

<ul>
   <li>ID <%= @wagon.id.to_s %></li>
   <li>Тип <%= @wagon.type %></li>
   <li>Боковых верхних:  <%= @wagon.side_top_seats %> мест</li>
   <li>Верхних:          <%= @wagon.bottom_seats %> мест</li>
   <li>Нижних:           <%= @wagon.bottom_seats %> мест</li>
   <li>Боковых нижних:   <%= @wagon.side_top_seats %> мест</li>
   <li>Сидячих:          <%= @wagon.sedentary_seats %> мест</li>
</ul>

<%= link_to 'Изменить', edit_train_wagons_path(train_id: @wagon.train.id, id: @wagon.id) %> |
<%= link_to 'Назад', wagons_path %>
