<%= form_with model: @route, local: true do |form| %>
  <%= render 'common/errors', resource: @route %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, id: :route_title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>