<p>
  <strong>Наименование:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Дополнительные сведения:</strong>
  <%= @route.text %>
</p>

<p>
  <strong>Станции на маршруте:</strong>
  <%- @route.railway_stations.each do |st| %>
    <%= st.title %>
  <%- end %>
</p>

<p>
  <strong>Поезда:</strong>
  <%- @route.trains.each do |train| %>
    <%= train.number %>
  <%- end %>
</p>

<%= link_to 'Изменить', edit_route_path(@route) %>
<%= link_to 'Назад', routes_path %>