<p>
  <strong>Наименование:</strong>
  <%= route_full_name(@route) %>
</p>

<p>
  <strong>Дополнительные сведения:</strong>
  <%= @route.text %>
</p>

<p>
  <strong>Порядок станций в маршруте:</strong>

<table border="1">
  <tr>
    <th>ID</th>
    <th>title</th>
    <th colspan="2"></th>
  </tr>

  <% @route.railway_stations_routes.each do |stations_routes| %>
  <tr>
      <td><%= stations_routes.station_number %></td>
      <td><%= link_to stations_routes.railway_station.title, railway_station_path(stations_routes.railway_station) %></td>
      <td><%= link_to '+', route_increase_station_number_path(@route, stations_routes: stations_routes), method: :post %></td>
      <td><%= link_to '-', route_decrease_station_number_path(@route, stations_routes: stations_routes), method: :post %></td>
  </tr>
  <% end %>
</table>
  </p>

    <strong>Поезда:</strong>
  <%- @route.trains.each do |train| %>
  <p><%= full_name(train) %></p>
  <%- end %>

<%= link_to 'Изменить', edit_route_path(@route) %>
<%= link_to 'Назад', routes_path %>