<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @route.text %>
</p>

<p>
  <strong>Route Stations:</strong>
  <%- @route.railway_stations.each do |st| %>
    <%= st.title %>
  <%- end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %>
<%= link_to 'Back', routes_path %>