<tr>
  <td>
    <div id="train_number_<%= train.id %>">
      <%= link_to full_name(train), [:admin, train] %>
    </div>
    <%= render 'form', train: train, hidden: true %>
  </td>
  <td><%= link_to train.route.railway_stations.size, admin_railway_stations_path %></td>
  <td><%= link_to train.wagons.size, admin_train_path(train) %></td>
  <td><%= link_to train.tickets.size, tickets_path %></td>
  <td><%= link_to 'Создать билет', new_admin_ticket_path(train: train) %></td>
  <td><%= link_to 'Изменить', '', class: 'edit_train', data: { train_id: train.id } %></td>
  <td><%= link_to 'Удалить', [:admin, train], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>