<p id="notice"><%= notice %></p>

<h1>
  <strong>Номер поезда:</strong>
  <%= @train.number %>
</h1>
<p>
  <strong>Находится на станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= route_full_name @train.route %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>
<p>
  <strong>Количество вагонов:</strong>
  <ul>
    <li>Плацкартных: <%= @train.wagons.select { |wagon| wagon.type == 'EconomyWagon' }.size %></li>
    <li>Купейных:    <%= @train.wagons.select { |wagon| wagon.type == 'CoupeWagon' }.size %></li>
    <li>СВ:          <%= @train.wagons.select { |wagon| wagon.type == 'SvWagon' }.size %></li>
    <li>Сидячих:     <%= @train.wagons.select { |wagon| wagon.type == 'SedentaryWagon' }.size %></li>
    <li> Вагоны:
      <% @train.wagons.each do |wagon| %>
        <%= link_to wagon.number, admin_wagon_path(wagon) %>
      <% end %>
    </li>

    <li>
      <% if @train.sort_by_tail %>
        Нумерация вагонов с хвоста поезда
      <% else %>
        Нумерация вагонов с головы поезда
      <% end %>
    </li>
  </ul>
</p>
<p><%= link_to 'Добавить плацкартный вагон', new_admin_train_wagon_path(@train, type: 'EconomyWagon') %></p>
<p><%= link_to 'Добавить купейный вагон',    new_admin_train_wagon_path(@train, type: 'CoupeWagon') %></p>
<p><%= link_to 'Добавить СВ вагон',          new_admin_train_wagon_path(@train, type: 'SvWagon') %></p>
<p><%= link_to 'Добавить сидячий вагон',     new_admin_train_wagon_path(@train, type: 'SedentaryWagon') %></p>
</p>
<p>
  <strong>Билеты:</strong>
  <ul>
    <% @train.tickets.each do |ticket| %>
      <li>
        <b>№<%= ticket.number %></b> _
        Пользователь: <%= ticket.user&.full_name %>;
        Вагон: <%= ticket.wagon&.number %>;
        Станция: <%= ticket.start_station&.title %>
      </li>
    <% end %>
  </ul>
</p>
<p>
  <strong>Вагоны:</strong>
  <ul>
    <% @train.wagons.each do |wag| %>
      <ol>
        <%= link_to "Вагон №#{wag.number}", admin_wagon_path(wag) %>
      </ol>
  </ul>
    <% end %>
</p>

<%= link_to 'Изменить', edit_admin_train_path(@train) %> |
<%= link_to 'Назад', admin_trains_path %>
