<tr>
  <td><%= link_to wagon.number, admin_wagon_path(wagon) %></td>
  <td><%= wagon.train.number if wagon.train %></td>
  <td><%= wagon.type = wagon.type_name%></td>
  <td><ul>
    <%- wagon.seat_types.each do |type| %>
      <li>
      <%= Wagon.seats_type(type) %>
      <%= ': ' + wagon.send(type).to_s %>
    </li>
    <% end %>
  </ul></td>
  <td><%= link_to 'Изменить', edit_admin_wagon_path(wagon) %></td>
  <td><%= link_to 'Удалить', admin_wagon_path(wagon), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>